
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Baby Protect seva+ | Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="/assets/css/flexslider.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
     	
     	<style>
     	#customers
		{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		width:100%;
		border-collapse:collapse;
		}
		#customers td, #customers th 
		{
		font-size:1em;
		border:1px solid #9d426b;
		padding:3px 7px 2px 7px;
		}
		#customers th 
		{
		font-size:1.1em;
		text-align:left;
		padding-top:5px;
		padding-bottom:4px;
		background-color:#9d426b;;
		color:#ffffff;
		}
		#customers tr.alt td 
		{
		color:#000000;
		background-color:#c1c1c1;
		}
		</style>


    </head>

    <body>

        <!-- Header -->
       <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">Baby Protect</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li class="current-page">
                                        <a href="/"><i class="icon-dashboard icon-large"></i><br />Dashboard<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/managedb"><i class="icon-tasks icon-large"></i><br />Manage<br> Database</a>
                                    </li>
                                    
                                    <li>
                                        <a href="/multicast"><i class="icon-group	  icon-large"></i><br />Multicast<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/unicast"><i class="icon-star  icon-large"></i><br />Unicast<br>&nbsp;</a>
                                    </li>
                                     
                                    
                          
                                    <li>
                                        <a href="/users/edit"><i class="icon-user  icon-large"></i><br />Profile<br>&nbsp;</a>
                                    </li>
                                    <li>
                                        <a href="/users/sign_out"><i class="icon-pencil  icon-large"></i><br />LOGOUT<br>&nbsp;</a>
                                   </li>
                              		
                                </ul>
                                
                               
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-calendar page-title-icon"></i>
                        <h2>Calendar |</h2>
                        <p>List of vaccination alerts you will recieve</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
            <div class="container">
                <div class="row">
                    <div class="span10 offset1">
                       <br><br>

							 <div >                      
							<table width="90%" border="1" cellspacing="0" cellpadding="1" align="center" id="customers">
					
							<tr>
							<th width="80"><strong>Age</strong></th>
							<th width="120"><strong>Vaccines</strong></th>
							<th width="290"><strong>Note</strong></th>
							</tr>
					
							
							<tr>
							<td>Birth</td>
							<td>BCG</td>
							<td></td>
							</tr>
							<tr >
							<td></td>
							<td>OPV zero</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hepatitis B -1</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>6 weeks</td>
							<td>OPV-1 + IPV-1 / OPV -1</td>
							<td>OPV alone if IPV cannot be given</td>
							</tr>
							<tr>
							<td></td>
							<td>DTPw-1 / DTPa -1</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hepatitis B -2</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hib -1</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>10 weeks</td>
							<td>OPV-2 + IPV-2 / OPV-2</td>
							<td>OPV alone if IPV cannot be given</td>
							</tr>
							<tr>
							<td></td>
							<td>DTPw-2 / DTPa -2</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hib -2</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>14 weeks</td>
							<td>OPV-3 + IPV-3 / OPV -3</td>
							<td>OPV alone if IPV cannot be given</td>
							</tr>
							<tr>
							<td></td>
							<td>DTPw-3 / DTPa -3</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hepatitis B -3</td>
							<td>Third dose of Hepatitis B can be given at 6 months of age</td>
							</tr>
							<tr>
							<td></td>
							<td>Hib -3</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>9 months</td>
							<td>Measles</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>15-18 months</td>
							<td>OPV-4 + IPV-B1 / OPV -4</td>
							<td>OPV alone if IPV cannot be given</td>
							</tr>
							<tr>
							<td></td>
							<td>DTPw booster -1 or DTPa booster -1</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>Hib booster</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>MMR -1</td>
							<td></td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>2 years</td>
							<td>Typhoid</td>
							<td>Revaccination every 3-4 years</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>5 years</td>
							<td>OPV -5</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>DTPw booster -2 or DTPa booster -2</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>MMR -2</td>
							<td>The second dose of MMR vaccine can be given at any time 8 weeks after the first dose</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>10 years</td>
							<td>Tdap</td>
							<td></td>
							</tr>
							<tr>
							<td></td>
							<td>HPV</td>
							<td>Only girls, three doses at 0, 1-2 and 6 months</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td></td>
							<td colspan="2">
							<h5><strong><br />
							Vaccines that can be given after discussion with parents</strong></h5>
							</td>
							</tr>
							<tr>
							<td>More than 6 weeks</td>
							<td>Pneumococcal conjugate</td>
							<td>3 primary doses at 6, 10, and 14 weeks, followed by a booster at 15-18 months</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>More than 6 weeks</td>
							<td>Rotaviral vaccines</td>
							<td>(2/3 doses (depending on brand) at 4-8 weeks interval</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>After 15 months</td>
							<td>Varicella</td>
							<td>Age less than 13 years: one dose<br />
							Age more than 13 years: 2 doses at 4-8 weeks interval</td>
							</tr>
							<tr>
							<td colspan="3"></td>
							</tr>
							<tr>
							<td>After 18 months</td>
							<td>Hepatitis A</td>
							<td>2 doses at 6-12 months interval</td>
							</tr>
							
							</table>
							</div>
							<br><br>


                    </div>
                </div>
            </div>


        
        

        <!-- Footer -->
        <footer>
            <div class="container">

                <div class="row">
                    <div class="copyright span4">
                        <p>&copy; Copyright 2013 Baby Portect</a>.</p>
                    </div>
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                       
                        <a class="twitter" href=""></a>
                       
                    </div>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script src="/assets/js/jquery-1.8.2.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.flexslider.js"></script>
        <script src="/assets/js/jquery.tweet.js"></script>
        <script src="/assets/js/jflickrfeed.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/assets/js/jquery.ui.map.min.js"></script>
        <script src="/assets/js/jquery.quicksand.js"></script>
        <script src="/assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="/assets/js/scripts.js"></script>

    </body>

</html>

